<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.test.classloader.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Classloader Perspective"
            class="com.test.classloader.Perspective"
            id="com.test.classloader.perspective">
      </perspective>
   </extension>

</plugin>
